@tailwind base;
@tailwind components;
@tailwind utilities;


nav a{
    transition: all 0.2s ease;
}

nav a:hover{
    color: #fde908;    
}
  
nav a.active{
    text-decoration: underline;
    color: #dadada;
}
nav a.active:hover{
    color: #fde908;
}

.hero{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle{
    height: 25px;
    width: 35px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.toggle span{
    /* margin: 2px; */
    height: 5px;
    width: 20px;
    background-color: #dadada;
}